.DS_Store
._.DS_Store
._*
etc/.lastBlock
etc/.scanning

etc/config.php
etc/test.php
etc/tags.php
.twurlrc

composer.lock
etc/vendor/
etc/node_modules
package-lock.json

assets/js/beta.js

favicon.ico

.well-known/wallets/*